################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PhysicsMoveTowards
/Library
/Logs
/obj/Debug
/Temp
/UserSettings
*.csproj
*.vsconfig
*.sln
